@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.banner-full {
    margin-bottom: 60px;
}

.banner-title {
    font-size: 60px;
}

.banner-p {
    font-size: 16px;
    font-weight: normal;
}

.second-img img {
    width: 546px;
    height: 364px;

}

.button-primary {
    border-style: none;
    color: #3F87F5;
    padding: 10px 40px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    background: #FFF;
}

.button-secondary {
    border-style: none;
    color: #ffffff;
    padding: 10px 40px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    background: #3F87F5;
}

.fa-chevron-right {
    margin-left: 5px;
}

.section-two-title {
    font-size: 38px;
    font-weight: 700;
}

.section-three-title {
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    font-weight: 700;
}

.section-two {
    margin-top: 100px;
    gap: 80px;
}

/* Plan List Section*/
.plan-list {
    list-style: none;
}

.card-group {
    margin-top: 100px;
    gap: 60px;
}

.price {
    font-size: 36px;
    font-weight: 700;
}

.subject {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
}

.card-button {
    border-style: none;
    color: #6f9bfa;
    padding: 10px 40px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    background: #e0ecfd;
}

.card-paragraph {
    margin-top: 15px;
    font-size: 16px;
    color: #848199;
}

.card-list-p {
    margin-top: 15px;
    color: #848199;
    font-weight: 600;
} 
.card-800{ 
    margin: 0px auto;
    box-shadow: 0px 10px 20px 10px rgba(16, 107, 243, 0.3);  
    padding: 20px;
}
.card-800 p{
    color: white;
}
.button-800{
    padding-bottom: 20px;
    border-style: none;
    color: #4a83fc;
    padding: 10px 40px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    background: #ffffff;
}
.top-msg{
    margin-right: 50px;
    padding: 5px 10px;
}

@media screen and (max-width: 576px) { 
    .banner-title{
        font-size: 20px;
    }
    .banner-full{
        margin-bottom: 0;
    }   
    .banner-p {
        margin-bottom: 0;
        font-size: 10px;
        font-weight: normal;
    }
    br{
        display: none;
    }
    .button-primary{
        display: none;
    }
    .section-two{
        margin-top: 50px;
    }
    .card-group{
        margin-top: 50px;
    }

}